#app .split-theme.splitpanes .splitpanes__splitter {
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
    border-left: 2px solid var(--sidebar-text-separator-color);
}

.split-theme.splitpanes .splitpanes__splitter:before,
.split-theme.splitpanes .splitpanes__splitter:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #00000026;
    transition: background-color .3s
}

.split-theme.splitpanes .splitpanes__splitter:hover:before,
.split-theme.splitpanes .splitpanes__splitter:hover:after {
    background-color: #00000040
}

.split-theme.splitpanes .splitpanes__splitter:first-child {
    cursor: auto
}

.split-theme.splitpanes .splitpanes .splitpanes__splitter {
    z-index: 1;
}

.split-theme.splitpanes--vertical>.splitpanes__splitter,
.split-theme .splitpanes--vertical>.splitpanes__splitter {
    width: 7px;
    border-left: 1px solid #eee;
    margin-left: -1px
}

.split-theme.splitpanes--vertical>.splitpanes__splitter:before,
.split-theme.splitpanes--vertical>.splitpanes__splitter:after,
.split-theme .splitpanes--vertical>.splitpanes__splitter:before,
.split-theme .splitpanes--vertical>.splitpanes__splitter:after {
    transform: translateY(-50%);
    width: 1px;
    height: 30px
}

.split-theme.splitpanes--vertical>.splitpanes__splitter:before,
.split-theme .splitpanes--vertical>.splitpanes__splitter:before {
    margin-left: -2px
}

.split-theme.splitpanes--vertical>.splitpanes__splitter:after,
.split-theme .splitpanes--vertical>.splitpanes__splitter:after {
    margin-left: 1px
}