.tiptap {
    a {
        /* blue-600 */
        color: #2563eb;
        text-decoration: underline;
        transition: color 0.2s ease, text-decoration 0.2s ease;
    }

    a:hover {
        /* blue-800 */
        color: #1e40af;
        text-decoration: none;
        cursor: pointer;
    }
}